<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  <title>EthVote BackEnd</title>

  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
</head>
<body>
  <nav class="white" role="navigation">
    <div class="nav-wrapper container">
      <a id="logo-container" href="#" class="brand-logo">EthVote</a>
      <ul class="right hide-on-med-and-down">
        <li><a href="#aboutUs">About US</a></li>
      </ul>

      <ul id="nav-mobile" class="sidenav">
        <li><a href="#">SignIn</a></li>
      </ul>
      <a href="#" data-target="nav-mobile" class="sidenav-trigger"><i class="material-icons">menu</i></a>
    </div>
  </nav>

  <div id="index-banner" class="parallax-container">
    <div class="section no-pad-bot">
      <div class="container">
        <br><br>
        <h1 class="header center teal-text text-lighten-2">EthVote</h1>
        <div class="row center">
          <h5 class="header col s12 light">A digital voting system designed using blockchain technology</h5>
        </div>
        <div class="row center">
          <a href="#loginModal" id="signIn" class="btn-large waves-effect waves-light teal lighten-1 modal-trigger">Sign In</a>
        </div>
        <br><br>

      </div>
    </div>
    <div class="parallax"><img src="images/index/background1.jpg" alt="Unsplashed background img 1"></div>
  </div>


  <div class="container">
    <div class="section">

      <!--   Icon Section   -->
      <div class="row">
        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center brown-text"><i class="material-icons">security</i></h2>
            <h5 class="center">More Security in Vote Storage</h5>

            <p class="light">Since we use the blockchain to store the votes in the form of a contract in blockchain the votes are secured. Its amlost imposible (present context) to change or manipulate the data stored in blockchain making votes fair and secure.</p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center brown-text"><i class="material-icons">group</i></h2>
            <h5 class="center">User Experience Focused</h5>

            <p class="light">This system will enable voters to vote from their mobile. Despite some of the security factors mobile voting can increase the no of partipants as that of paper based voting. As of this period no of mobile users are increasing so more people can be reached from this type of voting system. Especially the younger generation that ignore/avoid paper based voting can be attracted and persuaded using this type of voting which will help for better selection of individual for any election, small or large</p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center brown-text"><i class="material-icons">settings</i></h2>
            <h5 class="center">Easy to work with</h5>

            <p class="light">We plan to built user friendly and interactive mobile application so it will be easy enough for any mobile user(androids) to understand and fully use the app.</p>
          </div>
        </div>
      </div>

    </div>
  </div>


  <div class="parallax-container valign-wrapper">
    <div class="section no-pad-bot">
      <div class="container">
        <div class="row center">
          <h5 class="header col s12 light">Propose an Alternative to present Electronic Voting system</h5>
        </div>
      </div>
    </div>
    <div class="parallax"><img src="images/index/background2.jpg" alt="Unsplashed background img 2"></div>
  </div>

  <div class="container">
    <div class="section">

      <div class="row" id="aboutUs">
        <div class="col s12 center">
          <h3><i class="mdi-content-send brown-text"></i></h3>
          <h4>About Us</h4>
          <p class="left-align light">
            We are a group of Coputer Engineering Students (BCT) trying to remove on of the factors of implementing digital voting. Its Security of votes. Present implementations of internet voting requires a central or distributed database that had to hold the votes. However the flaw in this approach is the possibility of the database being hacked, or change in votes for someones benifits, or the authority in control of these database tampering with these sensitive datas for their benifit. 
          </p>
          <p class="left-align light">
            So we developed a internet voting system that stores votes in a special database , blockchain database. Blockchain database are special in that information they store are immutable.This enables the integrity of the votes. However using blockchain for this brings other complexities as well that we have tried to remove to make a rubust proof of concept system to show this is possible.
          </p>
        </div>
      </div>

    </div>
  </div>


  <div class="parallax-container valign-wrapper">
    <div class="section no-pad-bot">
      <div class="container">
        <div class="row center">
          <h5 class="header col s12 light"></h5>
        </div>
      </div>
    </div>
    <div class="parallax"><img src="images/index/background3.jpg" alt="Unsplashed background img 3"></div>
  </div>

  <footer class="page-footer teal">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">BCT C</h5>
          <p class="grey-text text-lighten-4">We are a team of college students working on this project.</p>


        </div>
        <div class="col l3 s12">
          <h5 class="white-text">Settings</h5>
<!--           <ul>
            <li><a class="white-text" href="#!">Link 1</a></li>
            <li><a class="white-text" href="#!">Link 2</a></li>
            <li><a class="white-text" href="#!">Link 3</a></li>
            <li><a class="white-text" href="#!">Link 4</a></li>
          </ul> -->
        </div>
        <div class="col l3 s12">
          <h5 class="white-text">Connect</h5>
          <ul>
            <li><a class="white-text" href="#!">Amar Nath Chaudhary</a></li>
            <li><a class="white-text" href="#!">Prijal Bista</a></li>
            <li><a class="white-text" href="#!">Shree Krishna Pandey</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
      <p>All Rights Reserved</p>
      </div>
    </div>
  </footer>

  <!-- Modal Structure -->
  <div id="loginModal" class="modal">
    <div class="modal-content">
      <a href="#!" class="modal-close right">
        <i class="material-icons prefix">close</i>
      </a>
      <h4>Sign In</h4>
      <p>(First Time? use username:admin pass:admin)</p>
      <form method="post" action="/adminLogin">
        <div class="row">
          <div class="input-field col s12">
            <i class="material-icons prefix">account_circle</i>
            <input placeholder="Username" name="username" id="first_name" type="text" required="true" class="validate" autofocus="true">
            <label for="first_name">Username</label>
          </div>
          <div class="input-field col s12">
            <i class="material-icons prefix">lock</i>
            <input name="password" id="last_name" type="password" required="true" class="validate">
            <label for="last_name">Password</label>
          </div>
        </div>
        <div class="input-field">
          <button class="btn waves-effect waves-light teal lighten-1" type="submit">Sign In</button>
        </div>
      </form>
    </div>
    <div class="modal-footer">
      
    </div>
  </div>


  <!--  Scripts-->
  <script src="js/jquery.min.js"></script>
  <script src="js/materialize.js"></script>
  <script src="js/init.js"></script>
  <!-- model ko  opening script -->
  <script type="text/javascript">
    document.addEventListener('DOMContentLoaded', function() {
       var elems = document.querySelectorAll('.modal');
       //var instances = M.Modal.init(elems, options);
     });

     // Or with jQuery

     $(document).ready(function(){
       $('.modal').modal();
     });
             
  </script>

  </body>
</html>
